.who-we-are-section-wrapper {
  .card-body {
    h2 {
      color: $ascent-violet;
    }
    blockquote {
      border-left: solid 8px $ascent-violet;
      font-style: italic;
      margin: 15px 0;
      padding: 0.5em 0 0.5em 1em;
      max-width: 572px;
      p {
        color: $blockquote-quote;
        position: relative;
        margin: 0 0 1.6875em 0;
      }
      .text-right {
        color: $blockquote-cite;
        direction: rtl;
        &::after {
          content: " - ";
        }
      }
    }
    ul.what-we-do-list {
      list-style: none;
      padding-left: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0;
      > li {
        display: flex;
        align-items: center;
        padding: 7px 0;
        width: 33%;
        .feature-icon {
          background-color: $ascent-violet;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 1px;
          margin-right: 10px;
          svg {
            color: white;
          }
        }
        
      }
    }
  }
}

@media (max-width: 992px) {
  .who-we-are-section-wrapper {
    .card-body ul.what-we-do-list {
      > li {
        width: 50%;
      }
    }
  }
}
@media (max-width: 767px) {
  .who-we-are-section-wrapper {
    .card-body ul.what-we-do-list {
      > li {
        width: 100%;
      }
    }
  }
}