.header-section-wrapper {
  .header-section {
    .header-section-content {
      border-bottom: solid 1px #888;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    .content-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
@media (max-width: 992px) {
  .header-section-wrapper {
    .header-section-content {
      .content-left {
        float: none;
      }
      .content-right {
        float: none;
      }
      ul.navbar-nav {
        border-top: solid 1px #999;
        margin-top: 15px;
        padding-top: 5px;
        > li.nav-item {
          text-align: center;
        }
      }
    }
  }
}