.footer-section-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  .footer-section {
    .footer-section-content {
      border-top: solid 1px #888;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      padding-top: 15px;
      padding-bottom: 5px;
    }
    .brand {
      display: inline-block;
      font-size: 20px;
      padding-top: 0;
    }
  }
}