$text-color: #252525;
$accent-primary: #556b2f;
$accent-secondary: #2f4f4f;
$header-gray: rgba(33, 37, 41, 0.03);
$btn-border-radius: 4px;
$btn-text-size: 15px;
$btn-text-color: white;
$primary-heading-color: #222;
$secondary-heading-color: #444;